{{define "page-header"}}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{.title}}</title>
<meta name="description" content="Stream Surfer generated page.">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
</head>
<body>
{{template "top-page-menu" .}}
{{end}}