{{define "report-stream-info"}}
{{template "page-header" .}}
<h1>{{.title}}</h1>

<a class="btn" href="{{.history}}">show checks history</a>
<a class="btn" href="{{.errorsonly}}">show errors only</a>

<h2>Stream information</h2>
<table class="table table-bordered">
<tbody>
<tr><td>Top level URL</td><td>{{.url}}</td>
<tr><td>Playlist type</td><td>LIVE</td>
<tr><td>Profiles in master playlist</td><td>3</td>
<tr><td>Target duration in a media playlists</td><td>6s</td>
<tr><td>Occured chunks duration (min/max)</td><td>6.000s - 6.000s</td>
</tbody>
</table>

<h2>Problem statistics</h2>
For the all time of monitoring.
<table class="table table-bordered">
<tr><td>Slow responses</td><td>{{.slowcount}}</td>
<tr><td>Timeouts</td><td>{{.timeoutcount}}</td>
<tr><td>HTTP connection errors</td><td>{{.httpcount}}</td>
<tr><td>Playlist errors</td><td>{{.formatcount}}</td>
<tbody>
</tbody>
</table>

<h2>Check configuration</h2>
<table class="table table-bordered">
<tr><td>Template for checks</td><td>HLS</td>
<tr><td>Time between checks</td><td>15s</td>
<tr><td>Used probers for the group</td><td>1</td>
<tbody>
</tbody>
</table>

<h2>Attached reports</h2>
Attached all reports where the stream "{{.stream}}" involved.
<ul class="nav nav-pills nav-stacked">
  <li><small>2014-04-23 15:00</small> <a href="#">Stream not available up to 30min.</a></li>
  <li><small>2014-04-23 14:30</small> <a href="#">Media playlists not available up to 20min.</a></li>
  <li><small>2014-04-23 11:30</small> <a href="#">Slow responses up to 20min.</a></li>
  <li><small>2014-04-22 15:00</small> <a href="#">Stream not available up to 30min.</a></li>
  <li><small>2014-04-22 14:30</small> <a href="#">Media playlists not available up to 20min.</a></li>
  <li><small>2014-04-22 11:30</small> <a href="#">Slow responses up to 20min.</a></
  <li><small>2014-04-21 15:00</small> <a href="#">Stream not available up to 30min.</a></li>
  <li><small>2014-04-21 14:30</small> <a href="#">Media playlists not available up to 20min.</a></li>
  <li><small>2014-04-21 11:30</small> <a href="#">Slow responses up to 20min.</a></
</ul>

{{template "page-footer" .}}
{{end}}