{{define "report-index"}}
{{template "page-header" .}}
<h1>Last reports</h1>

<ul class="nav nav-stacked">
  <li><small>2014-04-23 15:00</small> <span class="label label-important">critical</span> <a href="#">Stream `rt-451/sovfed_sd` not available up to 30min.</a></li>
  <li><small>2014-04-23 14:30</small> <span class="label label-important">critical</span> <a href="#">Media playlists for `rt-451/sovfed_sd` not available up to 20min.</a></li>
  <li><small>2014-04-23 11:30</small> <span class="label label-warning">warning</span> <a href="#">Slow responses for all streams in `rt-451` group up to 20min.</a></li>
</ul>
<table class="table table-bordered table-condensed">
      <thead>
          <tr>
  {{range $i, $val := .thead}}
					<th>
					{{$val}}
					</th>
  {{end}}
					</tr>
		  </thead>
			<tbody>
	{{range $i, $row := .tbody}}
		{{range $j, $col := $row}}
		  {{if $j}}<td>{{$col}}</td>{{/* colored by severity level */}}
			{{else}}<tr class="{{$col}}">
			{{end}}
		{{end}}
				</tr>
	{{end}}
	    </tbody>
</table>

</ul>

{{template "page-footer" .}}
{{end}}