{{define "top-page-menu"}}
    <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="/">Stream Surfer</a>
    <ul class="nav">
		{{if .isactivity}}<li class="active">{{else}}<li>{{end}}<a href="/act">Activity</a></li>
		{{if .isreport}}<li class="active">{{else}}<li>{{end}}<a href="/rpt">Reports</a></li>
		{{if .iscontrol}}<li class="active">{{else}}<li>{{end}}<a href="/ctl">Control</a></li>
    <li><a href="http://streamsurfer.org">Documentation</a></li>
    </ul>
    </div>
    </div>
{{end}}